<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>登录</title>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/html5media.min.js"></script>
    <script text="text/javascript">
        function login(obj){
            var phonenum = $(obj).parent().prev().prev().children("#phonenum").val();
            var password = $(obj).parent().prev().children("#password").val();
            if (phonenum == "" || password == ""){
                alert("请输出完整登录信息！");
            } else {
                var url = "/login_user";
                $.ajax({
                    type: "GET",
                    url: url,
                    data: {
                        phonenum: phonenum,
                        password: password
                    },
                    success: function(data){
                        alert(data.msg);
                        if (data.code == 1) {
                            window.location = "/search.html";
                        } else {
                            window.location = "/login.html";
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status);
                        alert(XMLHttpRequest.readyState);
                        alert(textStatus);
                        window.location = "/login.html";
                    }
                });
            }
        }
    </script>
</head>
<body>
    <div class="background">
        <video autoplay loop muted>
            <source src="/video/video.mp4" type="video/mp4"  />
            Your Browser is no longer supported.
        </video>
    </div>

    <div class="login">
        <div class="logo_1"></div>
        <div class="form-item">
            <p style="padding-bottom:15px"><input id="phonenum" oninput="value=value.replace(/[^\d]/g,'')" autocomplete="off" placeholder="手机号码" name="phonenum"></p>
            <p style="padding-bottom:30px"><input id="password" type="password" autocomplete="off" placeholder="登录密码" name="password"></p>
            <p><input type="submit" value="登录" id="login" onclick="login(this)" style="padding-left:0;margin-left:0;width:350px;background-color:white;color:#1f6f4a;cursor:pointer"></p>
        </div>
        <div class="reg-bar">
            <a class="reg" href="/register.html">立即注册</a>
            <a class="forget" href="/forget.html">忘记密码</a>
        </div>
    </div>

</body>
</html>
